@{
    ViewBag.Title = "About Us - Online Pizza and Drink Restaurant";
}

<h2>About Us</h2>

<div>
    <p>Welcome to our Online Pizza and Drink Restaurant project!</p>
    <p>We, @ViewBag.Student1Name (@ViewBag.Student1ID) and @ViewBag.Student2Name (@ViewBag.Student2ID), are excited to present this project as part of our academic endeavors.</p>
    <p>@ViewBag.ProjectPurpose</p>
</div>